<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="duribon.dlug.org.duribonduribon">
    
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Activities.IntroAppActivity"
            android:theme="@style/AppTheme.IntroTheme"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".Activities.InteriorMapActivity"
            android:theme="@style/AppTheme.InteriorMap">
        </activity>
        <activity
            android:name=".Activities.DestinationMapActivity"
            android:theme="@style/AppTheme.InteriorMap">
        </activity>
    </application>

</manifest>